[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
Flask-Redis = "==0.3.0"
redis = "==3.2.0"

[dev-packages]
pipenv-to-requirements = "==0.7.1"

[requires]
python_version = "3.6"
